#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid-cell {
    border: 1px solid #000;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.grid-cell:nth-child(-n + 3) {
    border-top: none;
}

.grid-cell:nth-child(3n + 1) {
    border-left: none;
}

.grid-cell:nth-child(3n + 3) {
    border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}