#game-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid-cell {
    border: 3px solid #eee;
    width: 160px;
    height: 160px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell:nth-child(-n + 3) {
    border-top: none;
}

.grid-cell:nth-child(3n + 1) {
    border-left: none;
}

.grid-cell:nth-child(3n + 3) {
    border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.o>img {
    width: 125px;
}

.x>img {
    width: 105px;
}

.disabled {
    cursor: default;
}

.grid-cell:not(.disabled):hover {
    background: #333;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
    position: absolute;
    top: -200px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateX(-30%);
}

.visible {
    display: block;
}


#players-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 120px;
    margin-top: 700px;
}

.player-name,
.player-score {
    font-size: 2.2em;
}

.player-score {
    text-align: center;
}