#game-setup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: grid;
}

#game-setup>label {
    margin-bottom: 6px;
    font-size: 1.8em;
}

#game-setup>input {
    margin-bottom: 50px;
    font-size: 1.9em;
    padding: 5px;
}

#game-setup>button {
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    width: 50%;
    padding: 10px;
    margin: auto;
    background-color: transparent;
    color: #eee;
    border: 4px solid white;
}

#game-grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.grid-cell {
    border: 3px solid #eee;
    width: 160px;
    height: 160px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cell:nth-child(-n + 3) {
    border-top: none;
}

.grid-cell:nth-child(3n + 1) {
    border-left: none;
}

.grid-cell:nth-child(3n + 3) {
    border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
    border-bottom: none;
}

.o>img {
    width: 125px;
}

.x>img {
    width: 105px;
}

.disabled {
    cursor: default;
}

.grid-cell:not(.disabled):hover {
    background: #333;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(0 0 0 / 60%) 0 0 0 9999px;
}

.game-over-text {
    position: absolute;
    top: -200px;
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    transform: translateX(-30%);
}

.visible {
    display: block;
}

.hidden {
    display: none;
}


#players-info {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 120px;
    margin-top: 600px;
}

#turn {
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 120px;
    margin-top: 50px;
    font-size: 2.5em;
}

#reset-btn-div {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 84px;
}

#reset-btn-div>input {
    cursor: pointer;
    font-size: 2.2em;
    padding: 10px;
    width: 170px;
    background-color: transparent;
    color: #eee;
    border: 4px solid white;
}

#reset-btn-div>input:hover,
#game-setup>button:hover {
    background-color: rgb(187, 5, 157);
}

#reset-btn-div>input:active,
#game-setup>button:active {
    background-color: rgb(221, 6, 221);
}

.player-name,
.player-score {
    font-size: 2.2em;
}

.player-score {
    text-align: center;
}